<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.signify.hue.reactivebleexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

      <!-- Needed only if your app looks for Bluetooth devices.
        You must add an attribute to this permission, or declare the
        ACCESS_FINE_LOCATION permission, depending on the results when you
      check location usage in your app. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

      <!-- Needed only if your app makes the device discoverable to Bluetooth
      devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

      <!-- Needed only if your app communicates with already-paired Bluetooth
      devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:label="flutter_reactive_ble_example"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="com.signify.hue.reactivebleexample.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />

</manifest>
